<h1>Register with SnowMan Games</h1>
<form (submit)=submitNewUser() method="POST">
  <p *ngIf="messages" class="text-danger">{{messages}}</p>
  <div>
    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" [(ngModel)]=newUser.firstName>
    <p class="text-danger" *ngIf="registerErrors.firstName">{{errors.firstName.message}}</p>
  </div>
  <div>
    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName" [(ngModel)]=newUser.lastName>
    <p class="text-danger" *ngIf="registerErrors.lastName">{{errors.lastName.message}}</p>
  </div>
  <div>
    <label for="email">Email Address:</label>
    <input type="email" name="email" [(ngModel)]=newUser.email>
    <p class="text-danger" *ngIf="registerErrors.email">{{errors.email.message}}</p>
    <p class="text-danger" *ngIf="mongoerror">{{mongoerror}}</p>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" [(ngModel)]=newUser.password>
    <p class="text-danger" *ngIf="registerErrors.password">{{errors.password.message}}</p>
  </div>
  <button type="submit">Submit</button>
</form>