<div *ngIf="!cart.items">
  <p class="empty-cart">Add items to the cart</p>
</div>

<div *ngIf="cart.items">

  <div>
    <table>
      <thead>
        <tr>
          <th>Games</th>
          <th>Edition</th>
          <th>Quantity</th>
          <th>Console</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of cart.items">
        <tr>
          <td>{{item.item.title}}</td>
          <td>{{item.edition.title}}</td>
          <td>{{item.qty}}</td>
          <td>{{item.console}}</td>
          <td>${{item.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="total">
    <h3>Order Summary: </h3>
    <p>Price: <strong>${{cart.totalPrice| number : '1.2-2'}}</strong></p>
    <p>Quantity: <strong>{{cart.totalQty}}</strong></p>
  </div>
  <button>Checkout</button>
</div>