<div *ngIf="oneGame">
  <h3>{{oneGame.title}}</h3>
  <img [src]="oneGame.image" [alt]="oneGame.title">
  <p>Year Released: {{oneGame.releaseDate}}</p>
  <form (submit)="addToCart()">
    <select name="addToCartGame.editionId" [(ngModel)]="addToCartGame.editionId">
      <option *ngFor="let edition of oneGame.editions" value="{{edition._id}}">
        Edition Title: {{edition.title}} - ${{edition.price}}
      </option>
    </select>
    <select [(ngModel)]="addToCartGame.console" name="addToCartGame.console">
      <option *ngFor="let console of oneGame.system" value="{{console.console}}">{{console.console}}</option>
    </select>
    <button>Add To Cart</button>
  </form>
</div>