<header>
  <nav>
    <ul>
      <li><a [routerLink]="['/']"><img id="logoHeader" src="../assets/images/companyImg/Logo.png" alt="companyLogo"></a>
      </li>
      <div class="right">
        <li class="cart-qty"><a [routerLink]="['/cart']"><i class="fa fa-shopping-cart"></i></a></li>
        <li *ngIf="!auth.isLoggedIn()" class="pd-top"><a routerLink="/login">Sign in</a></li>
        <li *ngIf="auth.isLoggedIn()" class="pd-top"><a routerLink="/profile">{{ auth.getUserDetails()?.name }}</a></li>
        <li *ngIf="auth.isLoggedIn()" class="pd-top"><a (click)="auth.logout()">Logout</a></li>
      </div>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>